body{
  background-color: #20262e;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper{
  background-color: #cfcfcf;
  width: 300px;
  margin-top: 50px;
  border-radius: 1px;
}

.row{
  display: flex;
}